:root{
    --header-color: #2c2c30;
    --text-colour: #ffffff;
    --BG-colour: #444444;
}

.fullWidth{
    width: 100%;
}

.select{
    background: #7a7a7a;
}
/* --------------------------------- header --------------------------------- */

#titles{
    height: 55px;
    background-color: var(--header-color);
    color: var(--text-colour);
    display: flex;
    margin: 0;
}

#companyHeader{
    text-align: center;
    width: 250px;
    margin: 0;
    padding: 8px 0;
    font-size: 30px !important;
}

#chatHeader{
    text-align: center;
    width: calc(100% - 250px);
    border-left: solid 1px gray;
    margin: 0;
    padding: 8px 0;
    font-size: 30px !important;
}

/* ----------------------------- main container ----------------------------- */

#mainContainer{
height: calc(100vh - 55px);
display: flex;
background-color: var(--BG-colour);
}

/* ------------------------------- bottom left ------------------------------ */

#companyContain{
    background-color: var(--BG-colour);
    width: 250px;
    height: 100%;
    
}

.companyButtons{
 width: 100%;
 height: fit-content;
 border: solid 1px whitesmoke;
 display: flex;
 align-items: center;
 font-size: 25px;
 color: white;
}
.companyPic{
    border: solid 1px white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 15px 10px 15px 20px;
}

/* ------------------------------ bottom right ------------------------------ */

#chatContainer{
    background-color: var(--BG-colour);
    width: calc(100% - 250px);
    position: relative;
}

#chatDisplay{
    margin-bottom: 0;
    min-width: 800px;
    background-color: aqua;
    height: calc(100vh - 120px);


}

#pressToTalk{
    width: 150px;
}
#pressToSubmit{
    width: 150px;
}
#buttonContainer{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

@media screen and (max-width: 1049px) {
    #companyContain{
      display: none
    }
    #chatDisplay{
        margin-bottom: 0;
        width: 100%;
        margin: 0 40px;
        min-width: 0px;
        background-color: aqua;
        height: calc(100vh - 120px);
    }

    #chatContainer{
        background-color: var(--BG-colour);
        width: 100%;
        position: relative;
    }
    
    #titles{
     display: none;
    }
    
    #navbar{
        display: block !important;
        height: 55px !important;
        background-color: var(--header-color) !important;
        }

    .navbarText{
        color: var(--text-colour) !important;
        font-size: 30px !important;
        margin: 0;
        padding: 5px 0;
        height: fit-content;
    }
    
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border: 0;
    }

    .navbar-toggler{
        height: 40px !important;
        width: 40px !important;
        margin-left: 10px;
        padding: 0;
        border: 0;
        border-radius: 100%;
    }
    .navbar-toggler:hover{
        background-color: var(--BG-colour);
    }

    .offcanvas-header{
        background: var(--header-color);
        color: var(--text-colour);
        font-size: 30px !important;   
        height: 55px !important;
    }

    .offcanvas-body{
        background: var(--BG-colour);
    }

    .closeButton {
        color: #fff;
      }
}