<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      id="uploadFile"
      action="/upload-audio"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="audio" accept="audio/*" />
      <button type="submit">Upload Audio</button>
    </form>

    <button id="btnStart">start record</button>
    <button id="btnStop">stop record</button>
    <button id="submit">submit</button>
    <div id="adioPlay"></div>
    <div id="outPutAudio"></div>
    
 
  </body>
  <script>
    let audioSrc;
    let audioIN = { audio: true };

    let audioData;
    //  audio is true, for recording

    // Access the permission for use
    // the microphone
    navigator.mediaDevices
      .getUserMedia(audioIN)

      // 'then()' method returns a Promise
      .then(function (mediaStreamObj) {
        let start = document.getElementById("btnStart");
        let stop = document.getElementById("btnStop");
        let playAudio = document.getElementById("adioPlay");
        let outPutAudio = document.getElementById("outPutAudio");

        // This is the main thing to recorded
        // the audio 'MediaRecorder' API
        let mediaRecorder = new MediaRecorder(mediaStreamObj);
        // Pass the audio stream

        // Start event
        start.addEventListener("click", function (ev) {
          mediaRecorder.start();
        });

        // Stop event
        stop.addEventListener("click", function (ev) {
          mediaRecorder.stop();
        });

        mediaRecorder.ondataavailable = function (ev) {
          dataArray.push(ev.data);
        };

        let dataArray = [];
        mediaRecorder.onstop = function (ev) {
          audioData = new Blob(dataArray, { type: "audio/wav" });

          dataArray = [];

          audioSrc = window.URL.createObjectURL(audioData);

          playAudio.innerHTML = `
          <audio controls>
            <source src="${audioSrc}" type="audio/wav">
          </audio>`;
        };
      }).catch(function (err) {
        console.log(err.name, err.message);
      });

    document
      .querySelector("#submit")
      .addEventListener("click", async function (event) {
        let formData = new FormData();
        formData.append("file", audioData);

        // event.preventDefault();
        const res = await fetch("/uploadFile", {
          method: "POST",
          body: formData,
        });

        result = await res.json();
        console.log(result);

        outPutAudio.innerHTML = `
            <audio controls>
            <source src="${result}" type="audio/wav">
            </audio>`;
      });
  </script>
</html>
